body{
    text-align:center; margin:0;
}
#AH{
    width:300px;
  border-radius:50%;
}
}
#welcome{
    position:absolute;
    height:100%; width:100%;
    left:0; right:0; bottom:0; top:0;
    color:crimson;
    display:table;
    background:linear-gradient(pink 0%, green 100%) ;
}
#bio{
    padding:50px; text-align:center;
    font-size:40px;
}
.line{
    height:6px; width:80px; background: chartreuse; margin:8px auto;
}
p{
    max-width:450px; margin:25px auto; font-size:20px;
}
.profile{
    text-align:center; vertical-align:middle; position:relative;
    display:table-cell;
}
h1{
    font-size:40px; 
}
h2{
    font-size:30px;
}

.menu{
    top:10px ;
    right:30px ;
    position:absolute ;
    z-index:10 ;
    cursor: pointer;
    list-style:none ;
}
.Links{
    color: seagreen;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:20px ;
    font-family:cursive ;
    float: left;
}
.Links:hover{
background:linear-gradient(seagreen 0%, lightgreen 100%);

}
